{% load static %}
{% url 'home-view' as path_to_home %}
{% url 'posts:main-post-view' as path_to_posts %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}
{% url 'profiles:my-invites-view' as path_to_my_invites %}
{% url 'profiles:invite-profiles-view' as path_to_invites %}
{% url 'profiles:all-profiles-view' as path_to_all_profiles %}
{% url 'anonce:anonce-view' as path_to_anonce %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css -->
    <link rel="stylesheet" type="text/css" href= {% static 'style.css' %} >
    
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  
    <title>Engineers{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="ui inverted menu ">
        <div class="ui container">
          <a href="{{path_to_home}}"  class="{% if request.path == path_to_home %}active{% endif %} item">
              <h3>Engineers </h3>
          </a>
          {% if request.user.is_authenticated %}
          <a href="{{path_to_anonce}}" class="{% if request.path == path_to_anonce %}active{% endif %} item">
            Announcements
          {% endif %}
          <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %} item">
            Board
        </a>
          <div class="right menu">
              {% if request.user.is_authenticated %}
              <div class="item">
                  <div class="ui floating dropdown icon button teal"> Friends
                      <i class="dropdown icon"></i>
                      <div class="menu">
                          <a href="{{path_to_all_profiles}}" class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                              All Profiles
                          </a>
                          <a href="{{path_to_invites}}" class="{% if request.path == path_to_invites %}active{% endif %} item">
                              Send Invites
                          </a>
                          <a href="{{path_to_my_invites}}" class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                              Received Invites &nbsp; <div class="ui purple horizontal label">{{invites_num}}</div>
                          </a>
                      </div>
                   </div>
              </div>
                   <div class="item">
                    <form action=" " method="GET">
                      {% csrf_token %}
                      <div class="ui action left icon input">
                      <input class="prompt" type="text" name='q' placeholder="name of a friend...">
                      <i class="search icon"></i>
                      <button type='submit' class="ui button">Search</button>
                      </div>
                  </form>
                  </div>
              
                  <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                      <img src={{picture.url}} class="ui avatar image">&nbsp;
                       {{ request.user }}
                  </a>
      
                  <a href="{% url 'account_logout' %}" class="ui item">
                      Logout
                  </a>
              {% else %}
              <a href="{% url 'account_login' %}" class="ui item">
                      Login
                  </a>
              {% endif %}
          </div>
        </div>
      </div>
    <div class="ui container">
      {% block content %}
      <div class="ui grid">
        <div class="eleven wide column">
            {% for obj in qs %}
    
            <div class="ui fluid card">
                <div class="content">
                    <div class="right floated meta">
                    <div class="ui grid">
                        <div class="row">
                            {% ifequal request.user obj.author.user %}
                                <a href="{% url 'posts:post_update' obj.pk %}"><button class="ui button bwhite-lg ">Update</button></a>
                                <a href="{% url 'posts:post_delete' obj.pk %}"><button class="ui button bwhite-lg ">Delete</button></a>
                            {% endifequal %}
                        </div>
                    </div>
                        
                    </div>
                    <img class="ui avatar image" src={{obj.author.avatar.url}}> 
                    {{ obj.author.user }} - {{ obj.created|timesince}} ago
                </div>
                <div class="ui fluid image">
                    {% if obj.image %}
                        <img src={{obj.image.url}}>
                    {% endif %}
                </div>
                <div class="content">
                    <p> {{ obj.content }} </p>
                    <div class="right floated">
                        <form action="{% url 'posts:like-post-view' %}" method="POST" class='like-form' id='{{obj.id}}'>
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value={{obj.id}}>
                            
                                <button type="submit" class="ui button like-btn{{obj.id}}">
                                    {% if profile not in obj.liked.all %}
                                       Like
                                    {% else %}   
                                       Unlike
                                    {% endif %}   
                                </button>
                                <div class="ui grid">
                                    <div class="column">
                                        
                                        <div class="like-count{{obj.id}}"> {{obj.num_likes}} </div>
                                    </div>
                                    <div class="column">
                                        Likes
                                    </div>
                                </div>
                                             
                        </form>
                    </div>
                    <i class="comment icon"></i>
                    <span> {{ obj.num_comments }} comments</span>
                </div>
                <div class="extra content">
                    <div class="mb-5">
                      
                    </div>
                    <button class="cmt_btn ui button mb-5">show / hide comments</button>
                    <div class="comment-box">
                    {% if obj.comment_set.all %}
                        {% for c in obj.comment_set.all %}
                        
                            <div class="ui segment mb-5">
                                <img class="ui avatar image" src={{c.user.avatar.url}}>
                                <span>{{c.user}}</span>
                                <div class='mt-5'>{{ c.body }}</div>
                            </div>
                        
                        {% endfor %}
                    {% endif %}
                    </div>
      
                    <form action="" method="POST"class='ui fluid form'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{obj.id}}>
                        {{ c_form }}
                        <button type="submit" name="submit_c_form" class="ui primary button mt-5 w-full">comment</button>
                    </form>
                </div>
            </div>
    
    
            {% endfor %}
        </div>
        <div class="five wide column">
            <div class="ui segment">
                {% if post_added %}
                    <div class="ui green message">Post added</div>
                {% endif %}
                <form action="" method="POST" class='ui form' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{p_form}}
                    <button type='submit' name="submit_p_form" class="ui positive button w-full mt-5">Send</button>
                </form>
            </div>
        </div>
    </div>
      {% endblock content %}
    </div>

    {% block scripts %}
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });
            $('.like-form').submit(function(e){
                e.preventDefault()

                const post_id = $(this).attr('id')
                
                const likeText = $(	`.like-btn${post_id}`).text()
                const trim = $.trim(likeText)
                const url = $(this).attr('action')
                
                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)
                
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'post_id':post_id, 
                    },
                    success: function(response){
                        if(trim == 'Unlike'){
                            $(`.like-btn${post_id}`).text('Like')
                            res = trimCount - 1
                        } else {
                            $(	`.like-btn${post_id}`).text('Unlike')
                            res = trimCount + 1
                        }

                        $(`.like-count${post_id}`).text(res)
                    },
                    error: function(response){
                        console.log('error', response)
                    }
                })
            })
        });
    </script>
    {% endblock scripts %}
   
   <!--Custom js -->
  <script type="text/javascript" src={% static 'main.js' %} ></script>

  </body>
</html>
